page-produce-available-list {
  #notification{
    font-size: 1.5em;
    right: 1em;
    position: relative;
    float: right;
  }
  #send-notification{
    font-size: 1.5em;
    right: 2.5em;
    position: relative;
    float: right;
  }
}
